In [1]:
a1 = 10
a1

10

In [2]:
#Data/Value can be stored in temporary storage spaces called Variables
r1 = 10
r1

10

In [3]:
type(r1)

int

In [4]:
a1 = 2.14
a1

2.14

In [5]:
type(a1)

float

In [7]:
a1 = True
a1

True

In [8]:
type(a1)

bool

In [9]:
#DataTypes - Every variable is associated with a datatype
#Example- 2=int , 3.14=float , True,False=Boolean , "Ram"=String
a1 = "Hello world"
a1

'Hello world'

In [10]:
type(a1)

str

In [11]:
a1 = 3+4j
a1

(3+4j)

In [12]:
type(a1)

complex

In [13]:
# operators are used with numeric values to perform common mathematical operations: Operator, Name ...
        #Arithmetic Operators , Relational Operators , Logical Operators
   #Arithmetic Operators  + , - , * , /
a = 10
b = 20

In [14]:
a,b

(10, 20)

In [15]:
a+b

30

In [16]:
a-b

-10

In [17]:
a*b

200

In [18]:
a/b

0.5

In [19]:
#Rlational Operators < , > , == , !=
a=25
b=50

In [20]:
a<b

True

In [21]:
a>b

False

In [22]:
a==b

False

In [23]:
a!=b

True

In [24]:
#Logical Operators & , |
a=True
b=False

In [25]:
a & a

True

In [26]:
b & b

False

In [27]:
a & b

False

In [28]:
a | b

True

In [29]:
b | a

True

In [30]:
a | a

True

In [31]:
#Tokens - Smallest meaningful component in a program
#Like - Keywords , Identifiers , Literals , Operators

In [32]:
#Python has a set of keywords that are reserved words that cannot be used as variable names, function names, or any other identifiers:

#Keyword	Description
#and	A logical operator
#as	To create an alias
#assert	For debugging
#break	To break out of a loop
#class	To define a class
#continue	To continue to the next iteration of a loop
#def	To define a function
#del	To delete an object
#elif	Used in conditional statements, same as else if
#else	Used in conditional statements
#except	Used with exceptions, what to do when an exception occurs
#False	Boolean value, result of comparison operations
#finally	Used with exceptions, a block of code that will be executed no matter if there is an exception or not
#for	To create a for loop
#from	To import specific parts of a module
#global	To declare a global variable
#if	To make a conditional statement
#import	To import a module
#in	To check if a value is present in a list, tuple, etc.
#is	To test if two variables are equal
#lambda	To create an anonymous function
#None	Represents a null value
#nonlocal	To declare a non-local variable
#not	A logical operator
#or	A logical operator
#pass	A null statement, a statement that will do nothing
#raise	To raise an exception
#return	To exit a function and return a value
#True	Boolean value, result of comparison operations
#try	To make a try...except statement
#while	To create a while loop
#with	Used to simplify exception handling
#yield	To end a function, returns a generator

In [34]:
True = r
#We can not give keywords name of Variable

SyntaxError: can't assign to keyword (<ipython-input-34-ec3167ff00d8>, line 1)

In [39]:
#Identifiers - are names used for variable,funtions or objects
#Rule:
 #   1)No spcial character expect_(underscore)
 #   2)Identifiers are case sensitive
 #   3)first letter cannot be a digit
Student="Urmi"
Student

'Urmi'

In [42]:
#Literals - Literals are constants
#Example - R = i am a constant,i don't change , U = i am a constant,i don't change
R =3.14  
U ="Hello world"

In [43]:
#String - String are sequence of character enclosed within single quotes(''), double quotes("") or triple quotes('''''')
#Example - 'Hello World' , "This is bed" , '''i am going to Japan''' 
str1 = 'this is my first string'
str1

'this is my first string'

In [44]:
str2 = "this is my second string"
str2

'this is my second string'

In [45]:
str3 = '''this string has lot of lines ikn it'''
str3

'this string has lot of lines ikn it'

In [48]:
#Individual Character 

my_string="My name is Urmi"
my_string[2]

' '

In [49]:
my_string[4]

'a'

In [50]:
my_string[-1]

'i'

In [51]:
my_string[5:10]

'me is'

In [52]:
#String Functions -
#1)Finding length of string

len(my_string)

15

In [53]:
#2)Converting String to lower case

my_string.lower()

'my name is urmi'

In [54]:
#3)Converting String to upper case

my_string.upper()

'MY NAME IS URMI'

In [3]:
#4)Replacing a substring
my_string="My name is Urmi"
my_string.replace('y','a')

'Ma name is Urmi'

5)Number of occurrences of substring
new_string = "hello hello world"

In [4]:
#5)number of occurrences of substring
new_string="hello hello world"

In [5]:
new_string.count("hello")

2

In [7]:
str_new="maa maa maa 220 220 220 220 m"
str_new

'maa maa maa 220 220 220 220 m'

In [8]:
str_new.count("m")

4

In [9]:
#6)Finding the index of substring
s1='this is pen'
s1.find('pen')

8

In [10]:
my_string='hello world is awesome'

In [11]:
my_string.find('i')

12

In [12]:
#7)Splitting a string
fruit = 'i like apples, mangoes,bananas'
fruit.split(',')

['i like apples', ' mangoes', 'bananas']

In [13]:
str_final='President Rupam is the best president of united states'
str_final

'President Rupam is the best president of united states'

In [20]:
str_final.split('e')

['Pr',
 'sid',
 'nt Rupam is th',
 ' b',
 'st pr',
 'sid',
 'nt of unit',
 'd stat',
 's']

In [21]:
#Data-Structures
#1)Tuple
#2)List
#3)Dictionary
#4)Set

In [24]:
#1)Tuple - A Tuple is a collection of Python objects separated by commas.
#In someways a tuple is similar to a list in terms of indexing, nested objects and repetition but a tuple is immutable unlike lists which are mutable
#is also an ordered collection of elements enclosed within()
#Example- tup(1,'r'true)
#Extracting individual Elements
tup1=(1,"u",True,2,"r",False)
tup1[2]

True

In [27]:
tup2=(1,"a",True,2,"b",False)
tup2[-1]

False

In [29]:
tup2=(1,"a",True,2,"b",False)
tup2[1:4]

('a', True, 2)

In [31]:
tup1=(1,True,3.14,5-7j)

In [32]:
tup1

(1, True, 3.14, (5-7j))

In [33]:
type(tup1)

tuple

In [34]:
#Modifying a Tuple
#you can not modify a tuple because it is immutable

tup1[2]="Hello"

TypeError: 'tuple' object does not support item assignment

In [35]:
#Tuple Basic Opration
#1)Finging Length Of Tuple
#2)Concatenating Tuples
#3)Repeating Tuple Elements
#4)Repeating and concatenating

In [37]:
#1)Finging Length Of Tuple
tup1=(1,"u",True,2,"r",False)
len(tup1)

6

In [38]:
#2)Concatenating Tuples
tup1=(2,3,4)
tup2=(5,6,7)
tup1+tup2

(2, 3, 4, 5, 6, 7)

In [39]:
tup1,tup2

((2, 3, 4), (5, 6, 7))

In [40]:
#3)Repeating Tuple Elements
tup1=('Urmi',300)
tup1*3

('Urmi', 300, 'Urmi', 300, 'Urmi', 300)

In [41]:
#4)Repeating and concatenating
tup1=('Urmi',300)
tup2=(2,3,4)
tup1*4 + tup2

('Urmi', 300, 'Urmi', 300, 'Urmi', 300, 'Urmi', 300, 2, 3, 4)

In [42]:
#Tuple Function
#1)Minimum value
#2)Maximum value

In [43]:
#1)Minimum value
tup1=(1,2,3,4,5)
min(tup1)

1

In [44]:
tup2=(10,30,70,40,90,20)
min(tup2)

10

In [45]:
#2)Maximum value
tup1=(3,5,8,9,6)
max(tup1)

9

In [46]:
tup2=(40,10,70,93,84)
max(tup2)

93

In [48]:
#List - list is created by placing all the items (elements) inside square brackets [] , separated by commas.
#It can have any number of items and they may be of different types (integer, float, string etc.).
#A list can also have another list as an item. This is called a nested list.
#List are mutable
#Example- l1=[1,'r',ture]

In [49]:
#Extracting individule elements
l1=[1,"r",3,"u",4,"p"]
l1[1]

'r'

In [50]:
l1=[1,"r",3,"u",4,"p"]
l1[2:5]

[3, 'u', 4]

In [51]:
#Mudifying a List
#1)Changing the element at 0th index
l1=[1,"r",3,"u",4,"p"]
l1[0]=100
l1

[100, 'r', 3, 'u', 4, 'p']

In [52]:
type(l1)

list

In [53]:
#2)Appending a new element
l1=[1,"r",3,"u",4,"p"]
l1.append("pain")
l1

[1, 'r', 3, 'u', 4, 'p', 'pain']

In [54]:
#3)Poping the last element
l1=[1,"r",3,"u",4,"p"]
l1.pop()
l1

[1, 'r', 3, 'u', 4]

In [55]:
#4)Rversing elements of a list
l1=[1,"r",3,"u",4,"p"]
l1.reverse()
l1

['p', 4, 'u', 3, 'r', 1]

In [57]:
#5)inserting element at a specified index
l1=[1,"r",3,"u",4,"p"]
l1.insert(1,"cool")
l1

[1, 'cool', 'r', 3, 'u', 4, 'p']

In [60]:
#6)Sorting A List
l1=["Urmi","Rupam","Golu","Hari","Mita"]
l1.sort()
l1

['Golu', 'Hari', 'Mita', 'Rupam', 'Urmi']

In [61]:
#Concatenating List
l1=[3,4,5]
l2=["u","r","m","i"]
l1+l2

[3, 4, 5, 'u', 'r', 'm', 'i']

In [62]:
l1=["Urmi","Rupam","Golu","Hari","Mita"]
l2=["u","r","m","i"]
l1+l2

['Urmi', 'Rupam', 'Golu', 'Hari', 'Mita', 'u', 'r', 'm', 'i']

In [63]:
#Repeating elements
l1=[1,"r",True]
l1*3

[1, 'r', True, 1, 'r', True, 1, 'r', True]

In [64]:
l1=["Urmi","Rupam","Golu","Hari","Mita"]
l2=["u","r","m","i"]
l1*5 + l2

['Urmi',
 'Rupam',
 'Golu',
 'Hari',
 'Mita',
 'Urmi',
 'Rupam',
 'Golu',
 'Hari',
 'Mita',
 'Urmi',
 'Rupam',
 'Golu',
 'Hari',
 'Mita',
 'Urmi',
 'Rupam',
 'Golu',
 'Hari',
 'Mita',
 'Urmi',
 'Rupam',
 'Golu',
 'Hari',
 'Mita',
 'u',
 'r',
 'm',
 'i']

In [65]:
#Dictionary -  dictionary is a collection which is unordered, changeable and indexed.
#In Python dictionaries are written with curly brackets, and they have keys and values.
#is mutable
#Like - fruit={"Apple":10,"Orange":20}

In [69]:
#Extracting Keys And Value
#Extracting Keys
Name={"Urmi":10,"Rupam":20,"Golu":30,"Hari":40,"Mita":50}
Name.keys()

dict_keys(['Urmi', 'Rupam', 'Golu', 'Hari', 'Mita'])

In [71]:
#Extracting Values
Name={"Urmi":100,"Rupam":200,"Golu":300,"Hari":400,"Mita":500}
Name.values()

dict_values([100, 200, 300, 400, 500])

In [72]:
Name

{'Urmi': 100, 'Rupam': 200, 'Golu': 300, 'Hari': 400, 'Mita': 500}

In [73]:
#Dictionary Function
#1)Update One Dictinary Elements with another
fruit1={"Apple":10,"Orange":20}
fruit2={"Banana":30,"Guava":40}
fruit1.update(fruit2)
fruit1

{'Apple': 10, 'Orange': 20, 'Banana': 30, 'Guava': 40}

In [74]:
#2)Poping an element
fruit={"Apple":10,"Orange":20,"Banana":30,"Guava":40}
fruit.pop("Orange")
fruit

{'Apple': 10, 'Banana': 30, 'Guava': 40}

In [75]:
#Set - set is an unordered and unindexed collection of elements enclosed with{}
#Duplicates are not allowed in set
 #Like s1={1,"r",True}

In [77]:
#1)Update one dictionary's elements with another

s1={1,"a",True,2,"b",False}
s1.add("Hello")
s1

{1, 2, False, 'Hello', 'a', 'b'}

In [78]:
#2)Updating multiple elements
s1={1,"a",True,2,"b",False}
s1.update([10,20,30])
s1

{1, 10, 2, 20, 30, False, 'a', 'b'}

In [79]:
#3)Removing an element
s1={1,"a",True,2,"b",False}
s1.remove("b")
s1

{1, 2, False, 'a'}

In [80]:
s1={1,3.14,'Urmi',3.14,'Rani'}
s1

{1, 3.14, 'Rani', 'Urmi'}

In [81]:
s1.add(False)

In [82]:
s1

{1, 3.14, False, 'Rani', 'Urmi'}

In [83]:
#Set Functions
#1)Union of two sets
s1={1,2,3}
s2={"u","r","m"}
s1.union(s2)

{1, 2, 3, 'm', 'r', 'u'}

In [84]:
#2)Intersection of two sets
s1={2,3,4,5,6,7,8}
s2={8,9,10,5}
s1.intersection(s2)

{5, 8}