In [1]:
#if Statement
#if its raining Sit inside
#else Go out and play Football

In [2]:
#if....else Pseudo Code

#if(Condition){
#    Statements to be executed...
#}
#else{
#    Statements to be executed...
#}

In [3]:
a=10

In [4]:
b=20

In [6]:
if a>b:
    print("A is greater than B")
else:
         print("B is greater than A")

B is greater than A

In [7]:
a=10
b=20
c=30

In [8]:
if (a>b) & (a>c):
     print("A is the greatest")
elif(b>a) & (b>c):
    print("B is the greatest")
else:
    print("C is the greatest")

C is the greatest

In [9]:
#if WITH TUPLE

In [10]:
tup1=('a', 'b', 'c')

In [13]:
if 't' in tup1:
    print("Value t is present in tup1")
else:
    print("Value t is present in tup1")

Value t is present in tup1

In [14]:
#if WITH LIST

In [31]:
listOfStrings = ['Hi' , 'hello', 'at', 'this', 'there', 'from']

In [32]:
if listOfStrings[1]=='hello':
    listOfStrings[1]='me'

In [33]:
listOfStrings

['Hi', 'me', 'at', 'this', 'there', 'from']

In [36]:
#if WITH DICTIONARY

In [43]:
d1 = {'r1':10,'r2':20,'r3':30}

In [44]:
d1

{'r1': 10, 'r2': 20, 'r3': 30}

In [45]:
if d1['r3'] == 30:
    d1['r3']=d1['r3']+100

In [46]:
d1

{'r1': 10, 'r2': 20, 'r3': 130}

In [47]:
#Looping Statements - Looping statements are used to repeat a task multiple times.
#like - Keep filling this bucket with a mug of water while it is not full.
#your fav.. song- Keep repeating song until you close the app.

In [48]:
#While Loop-

#Enter while loop - Test Expression- Exit while loop or True - Body of while

In [49]:
#Syntax
#while condition:
 #   Execute Statements

In [50]:
i = 1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [55]:
i=1
n=3
while i<=10:
    print(n," * ",i," = ",n*i)
    i=i+1

3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
3  *  10  =  30

In [56]:
#For Loop - is used to iterate over a sequence(tuple,list,dictionary...)

#for val in sequence:
#    Body of for            - this is the syntax of for loop

In [57]:
l1=['apple','mango','grapes','white']

In [59]:
for i in l1:
    print(i)

apple
mango
grapes
white

In [62]:
l1=['Golu','Urmi','Rupam']
l2=['chair','laptop1','laptop2']

In [63]:
for i in l1:
    for j in l2:
        print(i,j)

Golu chair
Golu laptop1
Golu laptop2
Urmi chair
Urmi laptop1
Urmi laptop2
Rupam chair
Rupam laptop1
Rupam laptop2

In [64]:
#FINCTION -  A function is a block of code which only runs when it is called or which performs a specific task.
#You can pass data, known as parameters, into a function. A function can return data as a result.
#like- Deposit -funtion to deposit money
#      Wihtdraw- function to withdraw money
 #     Balance-function to balance money

In [65]:
def hello():
    print("Hello World")

In [66]:
hello()

Hello World

In [69]:
def add_10(x):
    return x+10

In [70]:
add_10(9)

19

In [71]:
add_10(5)

15

In [74]:
def odd_even(x):
    if x%2==0:
        print(x, "is even")
    else:
            print(x, "is odd")

In [76]:
odd_even(8)

8 is even

In [89]:
#Lambda -  A lambda function can take any number of arguments, but can only have one expression.
#also when we require a nameless function for a short period of time.
#Lambda functions are mainly used in combination with the functions filter(), map() and reduce(). 

g=lambda x: x*x*x

In [90]:
g(10)

1000

In [91]:
#Lambda With Filter -  We can use Lambda function inside the filter() built-in function to find all the numbers not divisible by 2 (any number) in the list.
#The filter() function in Python takes in a function and a list as arguments.

l1=[67,89,86,5,4,96,63,52,21,12,13,68]
final_list=list(filter(lambda x: (x%2!=0),l1))

In [92]:
final_list

[67, 89, 5, 63, 21, 13]

In [93]:
#Lambda With Map- Map applies a function to all the items in an input_list.

l1 = [1,2,3,4,5,6,7,8]

In [95]:
l1=[1,2,3,4,5,6,7,8]

In [96]:
list_final_new=list(map(lambda x: x*2,l1))

In [97]:
list_final_new

[2, 4, 6, 8, 10, 12, 14, 16]

In [99]:
from functools import reduce

In [100]:
sum=reduce(lambda x,y: x+y,l1)

In [101]:
l1

[1, 2, 3, 4, 5, 6, 7, 8]

In [102]:
sum

36